[tool.poetry]
name = "encapsia-cli"
version = "0.1.17"
description = "Client CLI for talking to an Encapsia system."
readme = "README.md"
authors = ["Timothy Corbett-Clark <timothy.corbettclark@gmail.com>"]
license = "MIT"
keywords = ["encapsia", "eSource", "EDC", "Clinical Trials"]
homepage = "https://github.com/tcorbettclark/encapsia-cli"

[tool.poetry.scripts]
encapsia = "encapsia_cli.encapsia:main"

[tool.poetry.dependencies]
python = "^3.6"
requests = {version = "^2.20",extras = ["security"]}
click = "^7.0"
toml = "^0.10.0"
awscli = "^1.16"
click-completion = "^0.5.0"
click-shell = "^1.0"
tabulate = "^0.8.3"
httpie = "^1.0"
# encapsia-api = {path = "../encapsia-api/"} # Only needed during development against unreleased versions of encapsia-api
encapsia-api = "^0.1.22"
http-prompt = {version = "^1.0",optional = true}

[tool.poetry.extras]
httpie-shell = ["http-prompt"]

[tool.poetry.dev-dependencies]
black = {version = "^18.3-alpha.0",allow-prereleases = true}
isort = "^4.3"
flake8 = "^3.7"
ansi2html = "^1.5"

[build-system]
requires = ["poetry>=1.0.5"]
build-backend = "poetry.masonry.api"
